[Unit]
Description=re-resolve dns and restart systemd-networkd if need
Requires=systemd-networkd.service
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/ip route add
ExecStop=

[Install]
WantedBy=network.target
