[Unit]
Description=re-resolve dns and restart systemd-networkd if need timer
Requires=network-online.target
After=network-online.target

[Timer]
OnBootSec=20sec
OnUnitActiveSec=5min
OnUnitInactiveSec=5min

[Install]
WantedBy=timers.target
