[Unit]
Description=re-resolve dns and restart systemd-networkd if need
Requires=systemd-networkd.service
After=network-online.target dnsmasq.service

[Service]
Environment="TZ=Asia/Chongqing"
Type=oneshot
RemainAfterExit=no
ExecStartPre=/usr/bin/date "+%%F %%T"
ExecStart=/bin/bash -e /etc/wireguard/reload-script.sh

[Install]
WantedBy=default.target
