[NetDev]
Name = wg0
Kind = wireguard
Description = Wireguard

[WireGuard]
PrivateKey = *******

[WireGuardPeer]
PublicKey = 3tiqpnAjGSlRnonFUzvuMbnuZFTh+lBWFq0AnLyhigI=
PresharedKey = *******
AllowedIPs = 10.100.0.0/24
Endpoint = home.gongt.me:2816
PersistentKeepalive = 25

