[Match]
Name=enp4s0

[Network]
Description=Bridged Connection
DHCP=no
LinkLocalAddressing=no
IPv6AcceptRA=no
Bridge=bridge0

IPForward=yes

[Link]
RequiredForOnline=yes

