[Unit]
Description=Run ddns-client on boot and every 5 min
Requires=network-online.target
After=network-online.target

[Timer]
OnBootSec=1s
OnUnitActiveSec=5min
OnUnitInactiveSec=30s

[Install]
WantedBy=timers.target